---
---

@import "{{ site.theme }}";

code, pre {
	background-color: inherit;
}

#header_wrap {
/*
 	original: linear-gradient(to top, #373737, #212121);
 	rain-fighters-dark: #121322;
 	rain-fighters-gray: #727C92;
*/
	background: linear-gradient(to top, #727C92, #121322);
}
