---
---

@import "{{ site.theme }}";

code, pre {
	background-color: inherit;
}

#header_wrap {
	background: linear-gradient(to top, #727C92, #121322);
}

#main_content_wrap {
	background: #f0f2f4;
	border: 0;
}

#main_content {
    padding-top: 1rem;
}

#footer_wrap {
	background: linear-gradient(to bottom, #727C92, #121322);
}

p, ul, li, blockquote {
	margin: .4rem 0 .4rem 0;
}

h1, h2, h3, h4, h5, h6 {
	margin: 1rem 0 0 0;
}
