---
---

@import "{{ site.theme }}";

:root {
	--sans-font: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
	--mono-font: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
/*
	--sans-font: Noto, "Segoe UI", Calibri, Arial, Helvetica, sans-serif;
	--mono-font: Consolas, "Noto Sans Mono", "Bitstream Vera Sans Mono", Menlo, Monaco, monospace;
*/
	--base-font-size: 1rem;
	--medium-font-size: .9rem;
	--mono-font-size: .8125rem;
	--small-font-size: .8rem;
	--tiny-font-size: .625rem;

	--logo-red: #D04949;
	--logo-green: #00C25E;
	--logo-blue: #3D67FF;
	--logo-yellow: #F5B62E;
	--logo-white: #E0E0E0;
	--logo-gray: #727C92;
	--logo-black: #121322;
	--text: #373737;
 	--bg: #f0f2f4;
	--bg-accent: #e0e2e4;
	--border: var(--logo-gray);
}

body {
	font-family: var(--sans-font);
	font-size: var(--base-font-size);
}

code, pre {
	background-color: var(--bg-accent);
	font-family: var(--mono-font);
	font-size: var(--mono-font-size);
}

code {
	padding: 0 .1rem 0 .1rem; /* top, right, bottom, left */
	margin: 0 ;
	box-shadow: none;
}

code.error_message {
	color: var(--logo-red);
	font-weight: bold;
}

#header_wrap {
	background: linear-gradient(to top, var(--logo-gray),var(--logo-black));
}

#main_content_wrap {
	background: var(--bg);
	border: 0;
}

#main_content {
    padding-top: 1rem;
}

#footer_wrap {
	background: linear-gradient(to bottom, var(--logo-gray),var(--logo-black));
}

p, ul, li, blockquote {
	margin: .5rem 0 .5rem 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: inherit;
	letter-spacing: inherit;
	margin: 1rem 0 0 0;
}

table {
	width: 100%;
	margin: .75rem 0 .75rem 0;
	border: 0;
	border-collapse: collapse;
}

th, td {
	vertical-align: middle;
	padding: .25rem;
	border: 0;
	border-bottom: 1px solid var(--border);
}

th {
	font-family: inherit;
	font-weight: bold;
	color: inherit;
	background: var(--bg-accent);
}
